@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

footer p{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: white !important;
    font-weight: 200;
}

footer h5{
    font-weight: 600;
    margin-top: 16%;
    margin-bottom: 5%;
}

footer{
    display: flex;
    justify-content: center;

}
